org: 7plusmovie
app: 7plusmovie
service: transcoding-context
frameworkVersion: '3'
useDotenv: true

package:
  individually: true
  patterns:
    - '!node_modules/@aws-sdk/**'

provider:
  name: aws
  region: eu-west-3
  runtime: nodejs18.x
  iam:
    role:
      managedPolicies:
        - "arn:aws:iam::aws:policy/AmazonDynamoDBFullAccess"
        - "arn:aws:iam::aws:policy/AmazonS3FullAccess"
        - "arn:aws:iam::aws:policy/SecretsManagerReadWrite"
  stage: ${opt:stage}
  logRetentionInDays: 1

functions:
  createTranscodingJob:
    handler: src/core/app/createTranscodingJob.handler
    environment:
      DYNAMODB_TRANSCODING_JOB_TABLE_NAME: ${env:DYNAMODB_TRANSCODING_JOB_TABLE_NAME}
    events:
      - http:
          integration: lambda
          path: /createTranscodingJob
          method: post
          request:
            template:
              application/json: '{ "mkvS3ObjectKey" : $input.json(''$.mkvS3ObjectKey''),
                                   "outputFolderKey" : $input.json(''$.outputFolderKey''),
                                   "audioTranscodeSpecParams" : $input.json(''$.audioTranscodeSpecParams''),
                                   "textTranscodeSpecParams" : $input.json(''$.textTranscodeSpecParams''),
                                   "defaultAudioTrack" : $input.json(''$.defaultAudioTrack''),
                                   "defaultTextTrack" : $input.json(''$.defaultTextTrack'') }'
              application/x-www-form-urlencoded: null
          authorizer:
            arn: arn:aws:cognito-idp:eu-west-3:003200941285:userpool/eu-west-3_K4C2mQvl6

  transcodingJobUpdateHandler:
    handler: src/core/app/transcodingJobUpdateHandler.handler
    events:
      - stream: ${file(./.env.${sls:stage}.yml):DYNAMODB_TRANSCODING_JOB_STREAM_ARN}

  githubTranscodingJobCompletionHandler:
    handler: src/core/app/githubTranscodingJobCompletionHandler.handler
    events:
      - http:
          integration: lambda
          path: /githubTranscodingJobCompletionHandler
          method: post
          request:
            template:
              application/json: '$input.json(''$'')'
              application/x-www-form-urlencoded: null
          authorizer:
            name: githubWebhookAuthorizer
            type: request
            identitySource: method.request.header.X-Hub-Signature
              
  githubWebhookAuthorizer:
    handler: src/core/app/githubWebhookAuthorizer.handler
    environment:
      SECRET_MANAGER_SECRETS_ID: ${env:SECRET_MANAGER_SECRETS_ID}
 
plugins:
  - serverless-esbuild

custom:
  esbuild:
    bundle: true
    minify: false
