.root {
  position: relative;
  border: 1px solid;
  border-color: hsl(0, 0%, 18.82%);
  background-color: hsl(0, 0%, 7%);
  position: relative;
  align-items: center;
  border-right: 0;
  box-shadow: none;
  border-radius: 40px 0 0 40px;
  margin-left: 32px;
  padding: 0 4px 0 16px;
  display: flex;
  flex: 1;
  cursor: text; 
}

.root:focus-within {
  border-right: 1px solid;
  border-color: #1c62b9;
}

.input {
  padding: 1px 0;
  margin: 0;
  width: 100%;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #fff;
  outline: none;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  line-height: 2.2rem;
  font-weight: 400;
}
