org: rsargsyan
app: backend
service: backend
frameworkVersion: '3'

provider:
  name: aws
  region: eu-west-3
  runtime: nodejs14.x
  iam:
    role:
      managedPolicies:
        - "arn:aws:iam::aws:policy/AmazonDynamoDBFullAccess"
        - "arn:aws:iam::aws:policy/AmazonS3FullAccess"

functions:
  main:
    handler: src/createMovie.handler
    environment:
      DYNAMODB_MOVIE_TABLE_NAME: movies
    events:
      - http:
          integration: lambda
          path: /movies
          method: post
          request:
            template:
              application/json: '{ "originalLocale" : $input.json(''$.originalLocale''),
                                   "originalTitle" : $input.json(''$.originalTitle''),
                                   "releaseYear" : $input.json(''$.releaseYear'') }'
              application/x-www-form-urlencoded: null

  movieS3BucketTrigger:
    handler: src/movieS3BucketTrigger.handler
    environment:
      CLOUDINARY_CLOUD_NAME: donx7lsrj
      CLOUDINARY_API_KEY: 772652458475781
      CLOUDINARY_API_SECRET: MaMSYko9RE5bFWg9p2fWSkpAxFU
    events:
      - s3:
          bucket: test.rsargsyan.com
          event: s3:ObjectCreated:*
          existing: true

plugins:
  - serverless-plugin-typescript

