org: rsargsyan
app: backend
service: backend
frameworkVersion: '3'

provider:
  name: aws
  region: eu-west-3
  runtime: nodejs14.x
  iam:
    role:
      managedPolicies:
        - "arn:aws:iam::aws:policy/AmazonDynamoDBFullAccess"
        - "arn:aws:iam::aws:policy/AmazonS3FullAccess"

functions:
  main:
    handler: src/createMovie.handler
    environment:
      DYNAMODB_MOVIE_TABLE_NAME: movies
    events:
      - http:
          integration: lambda
          path: /movies
          method: post
          request:
            template:
              application/json: '{ "originalLocale" : $input.json(''$.originalLocale''),
                                   "originalTitle" : $input.json(''$.originalTitle''),
                                   "releaseYear" : $input.json(''$.releaseYear'') }'
              application/x-www-form-urlencoded: null

  movieS3BucketTrigger:
    handler: src/movieS3BucketTrigger.handler
    environment:
      CLOUDINARY_CLOUD_NAME: donx7lsrj
      CLOUDINARY_API_KEY: 772652458475781
      CLOUDINARY_API_SECRET: MaMSYko9RE5bFWg9p2fWSkpAxFU
    events:
      - s3:
          bucket: test.rsargsyan.com
          event: s3:ObjectCreated:*
          existing: true

  addPosterImagePortraitToMovie:
    handler: src/addPosterImagePortraitToMovie.handler
    environment:
      DYNAMODB_MOVIE_TABLE_NAME: movies
    events:
      - http:
          integration: lambda
          path: /addPosterImagePortraitToMovie
          method: patch
          request:
            template:
              application/json: '{ "movieId" : $input.json(''$.movieId''),
                                   "locale" : $input.json(''$.locale''),
                                   "relativePath" : $input.json(''$.relativePath'') }'
              application/x-www-form-urlencoded: null

  addMpdFileToMovie:
    handler: src/addMpdFileToMovie.handler
    environment:
      DYNAMODB_MOVIE_TABLE_NAME: movies
    events:
      - http:
          integration: lambda
          path: /addMpdFileToMovie
          method: patch
          request:
            template:
              application/json: '{ "movieId" : $input.json(''$.movieId''),
                                   "relativePath" : $input.json(''$.relativePath'') }'
              application/x-www-form-urlencoded: null                      
  
  movieUpdateHandler:
    handler: src/movieUpdateHandler.handler
    environment:
      ALGOLIA_APP_ID: DIM5E3ER59
      ALGOLIA_ADMIN_KEY: a152669420260423bce5d3a05402e764
      ALGOLIA_ALL_INDEX: prod_ALL
    events:
      - stream: arn:aws:dynamodb:eu-west-3:192331707131:table/movies/stream/2023-03-19T15:47:21.903
  
  addTitleL8nToMovie:
    handler: src/addTitleL8nToMovie.handler
    environment:
      DYNAMODB_MOVIE_TABLE_NAME: movies
    events:
      - http:
          integration: lambda
          path: /addTitleL8nToMovie
          method: patch
          request:
            template:
              application/json: '{ "movieId" : $input.json(''$.movieId''),
                                   "locale" : $input.json(''$.locale''),
                                   "title" : $input.json(''$.title'') }'
              application/x-www-form-urlencoded: null
plugins:
  - serverless-plugin-typescript

