version: "3.8"

services:
  typesense:
    image: typesense/typesense:29.0.rc4
    volumes:
      - /usr/local/var/lib/typesense:/data
    ports:
      - 8108:8108
    environment:
      - TYPESENSE_API_KEY=${TYPESENSE_API_KEY:?}
      - TYPESENSE_ENABLE_SEARCH_ANALYTICS=true
      - TYPESENSE_DATA_DIR=/data
      - TYPESENSE_API_PORT=8108
      - TYPESENSE_ENABLE_CORS=true
      - TYPESENSE_CORS_DOMAINS='https://www.q62.xyz,https://q62.xyz,http://localhost:3000'
      - TYPESENSE_ANALYTICS_FLUSH_INTERVAL=60
