.img {
  position: absolute;
  height: 70vh;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

@media (min-width: 36em) {
  .img {
    height: 90vh;
  }
}

@media (min-width: 48em) {
  .img {
    height: 100vh;
  }
}

@media (min-width: 62em) {
  .img {
    height: auto;
  }
}

@media (min-width: 75em) {
  .img {
    height: auto;
  }
}

@media (min-width: 88em) {
  .img {
    height: auto;
  }
}
