.appbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.nav ul {
  list-style-type: none;
  display: flex;
  gap: 1em;
}

.hero h1, .hero p {
  text-align: center;
}

.hero {
  padding-top: 2em;
  padding-bottom: 2em;
}

.hero p {
  margin-top: 1em;
}