org: 7plusmovie
app: 7plusmovie
service: main-context
frameworkVersion: '3'
useDotenv: true

package:
  individually: true
  patterns:
    - '!node_modules/@aws-sdk/**'

provider:
  name: aws
  region: eu-west-3
  runtime: nodejs18.x
  iam:
    role:
      managedPolicies:
        - "arn:aws:iam::aws:policy/AmazonDynamoDBFullAccess"
        - "arn:aws:iam::aws:policy/AmazonS3FullAccess"
        - "arn:aws:iam::aws:policy/SecretsManagerReadWrite"
  stage: ${opt:stage}
  logRetentionInDays: 1

functions:
  createMovie:
    handler: src/core/app/createMovie.handler
    environment:
      DYNAMODB_MOVIE_TABLE_NAME: ${env:DYNAMODB_MOVIE_TABLE_NAME}
      ALGOLIA_APP_ID: ${env:ALGOLIA_APP_ID}
      ALGOLIA_ALL_INDEX: ${env:ALGOLIA_ALL_INDEX}
      ALGOLIA_SEARCH_ONLY_KEY: ${env:ALGOLIA_SEARCH_ONLY_KEY}
    events:
      - http:
          integration: lambda
          path: /createMovie
          method: post
          request:
            template:
              application/json: '{ "originalLocale" : $input.json(''$.originalLocale''),
                                   "originalTitle" : $input.json(''$.originalTitle''),
                                   "releaseYear" : $input.json(''$.releaseYear'') }'
              application/x-www-form-urlencoded: null

  movieS3BucketTrigger:
    environment:
      SECRET_MANAGER_SECRETS_ID: ${env:SECRET_MANAGER_SECRETS_ID}
      CLOUDINARY_CLOUD_NAME: ${env:CLOUDINARY_CLOUD_NAME}
      CLOUDINARY_API_KEY: ${env:CLOUDINARY_API_KEY}
    handler: src/core/app/movieS3BucketTrigger.handler
    events:
      - s3:
          bucket: ${file(./.env.${sls:stage}.yml):MEDIA_ASSETS_S3_BUCKET}
          event: s3:ObjectCreated:*
          existing: true

  addPosterImagePortraitToMovie:
    environment:
      DYNAMODB_MOVIE_TABLE_NAME: ${env:DYNAMODB_MOVIE_TABLE_NAME}
    handler: src/core/app/addPosterImagePortraitToMovie.handler
    events:
      - http:
          integration: lambda
          path: /addPosterImagePortraitToMovie
          method: patch
          request:
            template:
              application/json: '{ "movieId" : $input.json(''$.movieId''),
                                   "locale" : $input.json(''$.locale''),
                                   "relativePath" : $input.json(''$.relativePath'') }'
              application/x-www-form-urlencoded: null

  addMpdFileToMovie:
    environment:
      DYNAMODB_MOVIE_TABLE_NAME: ${env:DYNAMODB_MOVIE_TABLE_NAME}
    handler: src/core/app/addMpdFileToMovie.handler
    events:
      - http:
          integration: lambda
          path: /addMpdFileToMovie
          method: patch
          request:
            template:
              application/json: '{ "movieId" : $input.json(''$.movieId''),
                                   "relativePath" : $input.json(''$.relativePath'') }'
              application/x-www-form-urlencoded: null                      
  
  movieUpdateHandler:
    handler: src/core/app/movieUpdateHandler.handler
    environment:
      SECRET_MANAGER_SECRETS_ID: ${env:SECRET_MANAGER_SECRETS_ID}
      ALGOLIA_APP_ID: ${env:ALGOLIA_APP_ID}
      ALGOLIA_ALL_INDEX: ${env:ALGOLIA_ALL_INDEX}
    events:
      - stream: ${file(./.env.${sls:stage}.yml):DYNAMODB_MOVIE_STREAM_ARN}
  
  addTitleL8nToMovie:
    environment:
      DYNAMODB_MOVIE_TABLE_NAME: ${env:DYNAMODB_MOVIE_TABLE_NAME}
    handler: src/core/app/addTitleL8nToMovie.handler
    events:
      - http:
          integration: lambda
          path: /addTitleL8nToMovie
          method: patch
          request:
            template:
              application/json: '{ "movieId" : $input.json(''$.movieId''),
                                   "locale" : $input.json(''$.locale''),
                                   "title" : $input.json(''$.title'') }'
              application/x-www-form-urlencoded: null
    
  createCloudFrontDistroMetadata:
    environment:
      DYNAMODB_CF_DISTRO_METADATA_TABLE_NAME: ${env:DYNAMODB_CF_DISTRO_METADATA_TABLE_NAME}
    handler: src/core/app/createCloudFrontDistroMetadata.handler
    events:
      - http:
          integration: lambda
          path: /createCloudFrontDistroMetadata
          method: post
          request:
            template:
              application/json: '{ "domain" : $input.json(''$.domain''),
                                   "arn" : $input.json(''$.arn''),
                                   "assumeRoleArnForMainAccount" : $input.json(''$.assumeRoleArnForMainAccount''),
                                   "awsAccountNumber" : $input.json(''$.awsAccountNumber''),
                                   "signerKeyId" : $input.json(''$.signerKeyId'') }'
              application/x-www-form-urlencoded: null

  getMovieMetadataForPlayer:
    environment:
      DYNAMODB_MOVIE_TABLE_NAME: ${env:DYNAMODB_MOVIE_TABLE_NAME}
      DYNAMODB_CF_DISTRO_METADATA_TABLE_NAME: ${env:DYNAMODB_CF_DISTRO_METADATA_TABLE_NAME}
      SECRET_MANAGER_SECRETS_ID: ${env:SECRET_MANAGER_SECRETS_ID}
    handler: src/core/app/getMovieMetadataForPlayer.handler
    events:
      - http:
          integration: lambda
          path: /getMovieMetadataForPlayer/{id}
          method: get
          request:
            template:
              application/json: '{ "movieId" : "$input.params(''id'')" }'
              application/x-www-form-urlencoded: null
          response:
            headers:
              Access-Control-Allow-Origin: "'*'"
            template: '{ "subtitles" : $input.json(''$.subtitles''),
                         "mpdFile" : $input.json(''$.mpdFile''),
                         "cloudFrontSignedUrlParams" :  $input.json(''$.cloudFrontSignedUrlParams''),
                         "backdropImage": $input.json(''$.backdropImage'') }'

  addBackdropImageToMovie:
    environment:
      DYNAMODB_MOVIE_TABLE_NAME: ${env:DYNAMODB_MOVIE_TABLE_NAME}
    handler: src/core/app/addBackdropImageToMovie.handler
    events:
      - http:
          integration: lambda
          path: /addBackdropImageToMovie
          method: patch
          request:
            template:
              application/json: '{ "movieId" : $input.json(''$.movieId''),
                                   "relativePath" : $input.json(''$.relativePath'') }'
              application/x-www-form-urlencoded: null

  addSubtitleToMovie:
    environment:
      DYNAMODB_MOVIE_TABLE_NAME: ${env:DYNAMODB_MOVIE_TABLE_NAME}
    handler: src/core/app/addSubtitleToMovie.handler
    events:
      - http:
          integration: lambda
          path: /addSubtitleToMovie
          method: patch
          request:
            template:
              application/json: '{ "movieId" : $input.json(''$.movieId''),
                                   "lang" : $input.json(''$.lang''),
                                   "relativePath" : $input.json(''$.relativePath'') }'
              application/x-www-form-urlencoded: null

plugins:
  - serverless-esbuild

custom:
  esbuild:
    bundle: true
    minify: false
