org: rsargsyan
app: 7plusmovie
service: main-context
frameworkVersion: '3'
useDotenv: true

provider:
  name: aws
  region: eu-west-3
  runtime: nodejs14.x
  iam:
    role:
      managedPolicies:
        - "arn:aws:iam::aws:policy/AmazonDynamoDBFullAccess"
        - "arn:aws:iam::aws:policy/AmazonS3FullAccess"

functions:
  createMovie:
    handler: src/createMovie.handler
    events:
      - http:
          integration: lambda
          path: /movies
          method: post
          request:
            template:
              application/json: '{ "originalLocale" : $input.json(''$.originalLocale''),
                                   "originalTitle" : $input.json(''$.originalTitle''),
                                   "releaseYear" : $input.json(''$.releaseYear'') }'
              application/x-www-form-urlencoded: null

  movieS3BucketTrigger:
    handler: src/movieS3BucketTrigger.handler
    events:
      - s3:
          bucket: test.rsargsyan.com
          event: s3:ObjectCreated:*
          existing: true

  addPosterImagePortraitToMovie:
    handler: src/addPosterImagePortraitToMovie.handler
    events:
      - http:
          integration: lambda
          path: /addPosterImagePortraitToMovie
          method: patch
          request:
            template:
              application/json: '{ "movieId" : $input.json(''$.movieId''),
                                   "locale" : $input.json(''$.locale''),
                                   "relativePath" : $input.json(''$.relativePath'') }'
              application/x-www-form-urlencoded: null

  addMpdFileToMovie:
    handler: src/addMpdFileToMovie.handler
    events:
      - http:
          integration: lambda
          path: /addMpdFileToMovie
          method: patch
          request:
            template:
              application/json: '{ "movieId" : $input.json(''$.movieId''),
                                   "relativePath" : $input.json(''$.relativePath'') }'
              application/x-www-form-urlencoded: null                      
  
  movieUpdateHandler:
    handler: src/movieUpdateHandler.handler
    events:
      - stream: ${file(./.env.${sls:stage}):DYNAMODB_MOVIE_STREAM_ARN}
  
  addTitleL8nToMovie:
    handler: src/addTitleL8nToMovie.handler
    environment:
      DYNAMODB_MOVIE_TABLE_NAME: movies
    events:
      - http:
          integration: lambda
          path: /addTitleL8nToMovie
          method: patch
          request:
            template:
              application/json: '{ "movieId" : $input.json(''$.movieId''),
                                   "locale" : $input.json(''$.locale''),
                                   "title" : $input.json(''$.title'') }'
              application/x-www-form-urlencoded: null
    
  createCloudFrontDistroMetadata:
    handler: src/createCloudFrontDistroMetadata.handler
    events:
      - http:
          integration: lambda
          path: /createCloudFrontDistroMetadata
          method: post
          request:
            template:
              application/json: '{ "domain" : $input.json(''$.domain''),
                                   "arn" : $input.json(''$.arn''),
                                   "assumeRoleArnForMainAccount" : $input.json(''$.assumeRoleArnForMainAccount''),
                                   "awsAccountNumber" : $input.json(''$.awsAccountNumber''),
                                   "signerKeyId" : $input.json(''$.signerKeyId'') }'
              application/x-www-form-urlencoded: null
            
plugins:
  - serverless-plugin-typescript
