.root {
  display: flex;
  justify-content: space-between;
  padding: 4px 16px 4px 16px;
  align-items: center;
}

.root:after {
  content: "";
}

.autocomplete {
  @media (max-width: 600px) {
    display: none;
  }   
}
