services:
  web-ui:
    container_name: web-ui
    image: q62xyz/web-ui-v2:1.1.0
    restart: "unless-stopped"
    environment:
      - REDIS_URL=redis://redis:6379
      - CLOUDFLARE_ANALYTICS_READ_TOKEN=${CLOUDFLARE_ANALYTICS_READ_TOKEN:?}
      - CLOUDFLARE_ZONE_ID=${CLOUDFLARE_ZONE_ID:?}
      - CLOUDFLARE_ACCOUNT_ID=${CLOUDFLARE_ACCOUNT_ID:?}
      - CLOUDFLARE_MEDIA_ASSETS_BUCKET_NAME=${CLOUDFLARE_MEDIA_ASSETS_BUCKET_NAME:?} 
      - MEDIA_ASSETS_BASE_URL=${MEDIA_ASSETS_BASE_URL:?}

  reverse-proxy:
    container_name: reverse-proxy
    build: ./reverse-proxy
    ports:
      - 443:443
      - 80:80
    restart: unless-stopped
    environment:
      - BASE64_ENCODED_CERT=${BASE64_ENCODED_CERT:?}
      - BASE64_ENCODED_KEY=${BASE64_ENCODED_KEY:?}
  
  redis:
    image: redis:7.4.1-alpine
    container_name: redis
    restart: unless-stopped
