services:
  web-ui:
    container_name: web-ui
    image: q62xyz/web-ui:1.3.1
    restart: "unless-stopped"

  reverse-proxy:
    container_name: reverse-proxy
    build: ./reverse-proxy
    ports:
      - 443:443
      - 80:80
    restart: unless-stopped
    environment:
      - BASE64_ENCODED_CERT=${BASE64_ENCODED_CERT:?}
      - BASE64_ENCODED_KEY=${BASE64_ENCODED_KEY:?}

