name: Generate thumbnails for movie

on:
  workflow_dispatch:
    inputs:
      movie_id:
        description: 'The movie id for which thumbnails will be generated and published'
        required: true

jobs:
  generate-thumbnails-and-publish:
    runs-on: [ 'self-hosted', 'Linux', X64 ]
    container: q62xyz/transcode:2.1.2
    env:
      AWS_ACCESS_KEY_ID: AKIAQBPWKPTSTP3HL4UM
      AWS_SECRET_ACCESS_KEY: ${{ secrets.PROD_AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: eu-west-3
      MEDIA_FILES_S3_BUCKET: media-assets-prod-e1pjapsk
      THUMBNAILS_DIR_NAME: thumbnails
      ADMIN_POOL_CLIENT_ID: 2so94a4hnjq3hb38a3km1huf9d
      Q62_ADMIN_USERNAME: rafiksargsyan07@gmail.com
      Q62_ADMIN_PASSWORD: ${{ secrets.Q62_ADMIN_PASSWORD }}
      GET_MOVIE_METADATA_ENDPOINT: https://olz10v4b25.execute-api.eu-west-3.amazonaws.com/prod/getMovieMetadataForPlayer/${{ github.event.inputs.movie_id }}
      MOVIE_ID: ${{ github.event.inputs.movie_id }}
      ADD_THUMBNAILS_FILE_TO_MOVIE_ENDPOINT: https://olz10v4b25.execute-api.eu-west-3.amazonaws.com/prod/addThumbnailsFileToMovie
    steps:
      - uses: actions/checkout@v3
        with:
          sparse-checkout: |
            thumbnails-generator-github-action
            tools

      - name: Setup environment
        run: |
          echo "Q62_AUTH_TOKEN=$(./tools/get-auth-token.sh ${ADMIN_POOL_CLIENT_ID} ${Q62_ADMIN_USERNAME} '${Q62_ADMIN_PASSWORD}')" >> $GITHUB_ENV

      - name: Download movie video file
        run: |
          rm h264_main_540p_18.mp4 || true
          MOVIE_METADATA=$(curl ${GET_MOVIE_METADATA_ENDPOINT} \
                                -H "Authorization: Bearer ${Q62_AUTH_TOKEN}")
          VIDEO_FILE_URL=$(jq -r '.mpdFile' <<< $MOVIE_METADATA | sed -e 's/manifest.mpd/h264_main_540p_18.mp4/')
          wget ${VIDEO_FILE_URL}

      - name: Prepare thumbnails directory
        run: |
          mkdir -p ${THUMBNAILS_DIR_NAME}
          rm -r ${THUMBNAILS_DIR_NAME}/*

      - name: Generate thumbnails vtt
        uses: ./thumbnails-generator-github-action
        with:
          videoFilePath: "./h264_main_540p_18.mp4"
          outputFolder: "./${{ env.THUMBNAILS_DIR_NAME }}"

      - name: Upload thumbnails assets
        run: |
          for i in 1 2 3; do aws s3 cp "${THUMBNAILS_DIR_NAME}" "s3://${MEDIA_FILES_S3_BUCKET}/${MOVIE_ID}/${THUMBNAILS_DIR_NAME}" --recursive && break; done

      - name: Add thumbnails file path to movie
        run: |
          curl -X POST "${ADD_THUMBNAILS_FILE_TO_MOVIE_ENDPOINT}" \
               -H "Authorization: ${Q62_AUTH_TOKEN}" \
               -H "Content-Type: application/json" \
               -d "{\"movieId\": \"${MOVIE_ID}\", \"relativePath\": \"${MOVIE_ID}/${THUMBNAILS_DIR_NAME}/thumbnails.vtt\" }"
