name: Publish movie

on:
  workflow_dispatch:
    inputs:
      s3_folder_key:
        description: 'AWS S3 folder containing bundle.mkv and spec.json files'
        required: true

jobs:
  publish-movie:
    runs-on: ubuntu-latest
    container: q62xyz/transcode-and-publish:1.0.1
    env:
      AWS_ACCESS_KEY_ID: AKIAQBPWKPTSTP3HL4UM
      AWS_SECRET_ACCESS_KEY: ${{ secrets.PROD_AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: eu-west-3
      THEMOVIEDB_API_KEY: ${{ secrets.THEMOVIEDB_API_KEY }}
      Q62_ADMIN_USERNAME: rafiksargsyan07@gmail.com
      Q62_ADMIN_PASSWORD: ${{ secrets.Q62_ADMIN_PASSWORD }}
      ADMIN_USER_POOL_CLI_CLIENT_ID: 2so94a4hnjq3hb38a3km1huf9d
      S3_FOLDER_KEY: ${{ github.event.inputs.user_input }}
      RAW_MEDIA_FILES_S3_BUCKET: raw-media-assets-prod-e1pjapsk
      MEDIA_FILES_S3_BUCKET: media-assets-prod-e1pjapsk
    steps:
      - name: Download 'bundle.mkv' and 'spec.json'
        run: |
          aws s3 cp s3://${RAW_MEDIA_FILES_S3_BUCKET}/${S3_FOLDER_KEY}/bundle.mkv .
          aws s3 cp s3://${RAW_MEDIA_FILES_S3_BUCKET}/${S3_FOLDER_KEY}/spec.json .
      
      - name: Transcode and publish
        env:
          MKV_FILE_PATH: ./bundle.mkv
          SPEC_FILE_PATH: ./spec.json
        run: |
          transcode-and-publish-movie
