name: R2 to R2 cachable sync

on:
  workflow_dispatch:

jobs:
  r2-to-r2-cachable-sync:
    runs-on: [ 'self-hosted', 'Linux', X64 ]
    timeout-minutes: 4320
    container: bitnami/rclone:1.68.2
    steps:
      - name: Generate rclone.conf
        env:
          RCLONE_CONFIG: ${{ secrets.RCLONE_CONFIG }}
        run: |
          echo $RCLONE_CONFIG | base64 --decode > /opt/bitnami/rclone.conf

      - name: Sync
        run: |
          rclone --config="/opt/bitnami/rclone.conf" -v sync cloudflare:media-assets-prod-e1pjapsk cloudflare-cachable:media-assets-cachable-prod-e1pjapsk --exclude "*/vod/*"
