name: Transcode

on:
  workflow_dispatch:
    inputs:
      mkv_s3_object_key:
        description: 'S3 path of mkv file to be transcoded'
        required: false
      mkv_http_url:
        description: 'Http url of mkv file'
        required: false
      output_s3_folder_key:
        description: 'Transcoding output s3 folder key'  
        required: true
      transcoding_spec_base64_encoded:
        desription: 'Base 64 encoded transcoding specification'
        required: true
      transcoding_context_job_id:
        description: 'The id of corresponding model in transcoding context'
        required: true
jobs:
  get-transcode-and-publish:
    runs-on: [ 'self-hosted', 'Linux', X64 ]
    timeout-minutes: 1440
    container: q62xyz/transcode:2.2.0
    env:
      AWS_ACCESS_KEY_ID: AKIAQBPWKPTSTP3HL4UM
      AWS_SECRET_ACCESS_KEY: ${{ secrets.PROD_AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: eu-west-3
      MKV_S3_OBJECT_KEY: ${{ github.event.inputs.mkv_s3_object_key }}
      MKV_HTTP_URL: ${{ github.event.inputs.mkv_http_url }}
      RAW_MEDIA_FILES_S3_BUCKET: raw-media-assets-prod-e1pjapsk
      MEDIA_FILES_S3_BUCKET: media-assets-prod-e1pjapsk
      TRANSCODING_OUTPUT_DIR_NAME: transcoding-output
      THUMBNAILS_DIR_NAME: thumbnails
      OUTPUT_S3_FOLDER_KEY: ${{ github.event.inputs.output_s3_folder_key }}
      TRANSCODING_SPEC_BASE64_ENCODED: ${{ github.event.inputs.transcoding_spec_base64_encoded }}
      WORKFLOW_RUN_ID_PROVIDER_HOOK_SECRET: ${{ secrets.WORKFLOW_RUN_ID_PROVIDER_HOOK_SECRET }}
      TRANSCODING_CONTEXT_JOB_ID: ${{ github.event.inputs.transcoding_context_job_id }}
      GITHUB_WORKFLOW_RUN_ID_PROVIDER_HOOK_ENDPOINT: https://fkz0cftrr6.execute-api.eu-west-3.amazonaws.com/prod/githubWorkflowRunIdProviderHook
      GITHUB_RUN_ID: ${{ github.run_id }}
      CF_ENDPOINT: https://dab7e06309a7c1cb8a51557d39d14161.r2.cloudflarestorage.com
      CF_ACCESS_KEY_ID: d2a16978e1e4fb1eb0dcaf352c827c98
      CF_SECRET_ACCESS_KEY: ${{ secrets.PROD_CF_SECRET_ACCESS_KEY }}
    steps:
      - name: Provide workflow run id to transcoding context
        run: |
          curl -X POST "${GITHUB_WORKFLOW_RUN_ID_PROVIDER_HOOK_ENDPOINT}" \
               -H "Authorization: ${WORKFLOW_RUN_ID_PROVIDER_HOOK_SECRET}" \
               -H "Content-Type: application/json" \
               -d "{\"transcodingJobId\": \"${TRANSCODING_CONTEXT_JOB_ID}\", \"githubWorkflowRunId\": ${GITHUB_RUN_ID} }"
 
      - uses: actions/checkout@v3
        with:
          sparse-checkout: |
            transcoding-github-action
            thumbnails-generator-github-action

      - name: Download MKV file
        run: |
          if [ -z "${MKV_HTTP_URL}"]; then
            DOWNLOAD_COMMAND="aws s3 cp s3://${RAW_MEDIA_FILES_S3_BUCKET}/${MKV_S3_OBJECT_KEY} ${GITHUB_RUN_ID}.mkv"
          else
            DOWNLOAD_COMMAND="wget -O ${GITHUB_RUN_ID}.mkv ${MKV_HTTP_URL}"
          fi
          for i in 1 2 3; do ${DOWNLOAD_COMMAND} && break; done
      
      - name: Prepare transcoding output directory
        run: |
          mkdir -p ${TRANSCODING_OUTPUT_DIR_NAME}
          rm -rf ${TRANSCODING_OUTPUT_DIR_NAME:?}/*

      - name: Transcode
        uses: ./transcoding-github-action
        with:
          mkvFilePath: "./${{ github.run_id }}.mkv"
          outputFolder: "./${{ env.TRANSCODING_OUTPUT_DIR_NAME }}"
          transcodingSpecBase64Encoded: ${{ env.TRANSCODING_SPEC_BASE64_ENCODED }}

      - name: Prepare thumbnails directory
        run: |
          mkdir -p ${TRANSCODING_OUTPUT_DIR_NAME}/${THUMBNAILS_DIR_NAME}

      - name: Generate thumbnails vtt
        uses: ./thumbnails-generator-github-action
        with:
          videoFilePath: "./${{ env.TRANSCODING_OUTPUT_DIR_NAME }}/vod/h264_main_540p_18.mp4"
          outputFolder: "./${{ env.TRANSCODING_OUTPUT_DIR_NAME }}/${{ env.THUMBNAILS_DIR_NAME }}"

      - name: Upload transcoding results to S3
        run: |
          for i in 1 2 3; do aws s3 cp "${TRANSCODING_OUTPUT_DIR_NAME}" "s3://${MEDIA_FILES_S3_BUCKET}/${OUTPUT_S3_FOLDER_KEY}" --recursive && break; done

      - name: Upload transcoding results to R2
        run: |
          for i in 1 2 3; do rclone copy "${TRANSCODING_OUTPUT_DIR_NAME}" "cfremote:/${OUTPUT_S3_FOLDER_KEY}" && break; done
        env:
          RCLONE_CONFIG_CFREMOTE_TYPE: s3
          RCLONE_CONFIG_CFREMOTE_PROVIDER: Cloudflare
          RCLONE_CONFIG_CFREMOTE_ACCESS_KEY_ID: ${{ env.CF_ACCESS_KEY_ID }}
          RCLONE_CONFIG_CFREMOTE_SECRET_ACCESS_KEY: ${{ env.CF_SECRET_ACCESS_KEY }}
          RCLONE_CONFIG_CFREMOTE_ENDPOINT: ${{ env.CF_ENDPOINT }}

      - name: Cleanup
        run:
          rm *.mkv
