.root {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 8px;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.root:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.root:active:hover {
  background-color: rgba(255, 255, 255, 0.2);
}